@mixin flexRow {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.media {
  height: 13.5rem;
  object-fit: cover;
}

.cardDate {
  @include flexRow;
}

.title {
  margin: 1.25rem 0 1.5rem !important;
}

.highlightKeywords {
  background-color: rgba(255, 246, 25, 0.63);
}

.cardFooter {
  width: max-content;
  margin-top: 1.25rem;
  @include flexRow;
  cursor: pointer;
}
