@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  font-family: "Montsserat", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}
